@import "../main/variables.scss";

.register {
  background: url("../../images/background.png") no-repeat center;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  .register-div {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .register-form-div {
      z-index: 2;
      width: 30vw;
      padding: $mainPadding;
      border: 3px solid $mainColor;
      border-top: 10px solid $mainColor;
      border-radius: 0.75rem;
      -webkit-animation: fadeIn;
      animation: fadeIn;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      h3 {
        text-align: center;
        color: $secondColor;
        padding-bottom: 0.75rem;
        border-bottom: 2px solid $secondColor;
        margin-bottom: 1rem;
      }
      .register-form {
        padding: 0rem 4rem;
        .input-div {
          padding: 0.5rem 0rem;
          display: flex;
          flex-direction: column;
          input {
            padding: 0.3rem;
          }
        }
        .submit {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 1rem;
          button {
            color: $secondColor;
            padding: 0.3rem;
            background-color: $mainColor;
            border: 2px solid #ff5405;
            border-radius: 0.5rem;
          }
          .login {
            padding-top: 1rem;
            color: $secondColor;
            a {
              padding-left: 0.3rem;
              color: $mainColor;
            }
          }
        }
      }
    }
    .form-hidden {
      display: none;
    }
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
